name: "Nix Build"
on:
#  push:
#   branches:
#    - main
  workflow_dispatch:
      
jobs:
  keyboard-pi:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: "Setup Nix"
      uses: cachix/install-nix-action@v24
      with:
        nix_path: nixpkgs=channel:nixos-23.11
        extra_nix_config: |
          extra-platforms = aarch64-linux
    - name: "Setup QEMU"
      run: sudo apt -y install qemu-user-static
    - name: Test aarch64 binfmt emulation
      run: |
        cat /proc/sys/fs/binfmt_misc/qemu-aarch64
        /usr/bin/qemu-aarch64-static --version
    - name: Build image
      run: |
        nix-build '<nixpkgs/nixos>'  \
          -A config.system.build.sdImage \
          -I nixos-config=./${{ github.job }}/sdImage.nix \
          --argstr system aarch64-linux \
          --option sandbox false
    - name: Prepare image
      run : |
        sudo mv ./result/sd-image/*.img.zst ./result/sd-image/${{ github.job }}.img.zst
    - name: Upload image (Artifact)
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.job }}
        path: ./result/sd-image
