[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE3uxUvPAknwJHQWKg+B9AKnOW1ijkjGzq5IjuguW8rC

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/home/max/.nix-profile/bin/op-ssh-sign"

[commit]
  gpgsign = true

